<div class="cities-list">
  <table class="table">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Category Name</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <td><a [title]="city.name" [routerLink]="['/city', city.id]">{{city.name}}</a></td>
        <td>{{city.categoryName}}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3" [hidden]="addMode">
          <button (click)="addMode=true" type="button" class="btn btn-primary btn-block">
              <i class="fa fa-plus"></i>
          </button>
        </td>
      </tr>
      <tr class="form-group" [hidden]="!addMode">
        <th scope="row">
          <button (click)="addNew()" type="button" class="btn btn-success">+</button>
        </th>
        <td><input type="text" class="form-control" [(ngModel)]="newCity.name" placeholder="City Name"></td>
        <td><input type="number" class="form-control" [(ngModel)]="newCity.categoryId" placeholder="Category Id"></td>
      </tr>
    </tbody>
  </table>
</div>