<div class="cities-list">
  <table class="table">
    <thead>
      <th scope="col">City</th>
      <th scope="col">Category</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <td><a [title]="city.name" [routerLink]="['/city', city.cityId]">{{city.cityName}}</a></td>
        <td><a [title]="city.categoryName" [routerLink]="['/category', city.categoryId]">{{city.categoryName}}</a></td>
        <td></td>
      </tr>
      <tr *ngIf="!addMode">
        <td colspan="3">
          <button (click)="addMode=true" type="button" class="btn btn-primary btn-block">
            <i class="fa fa-plus"></i>
          </button>
        </td>
      </tr>
      <tr class="form-group" *ngIf="addMode">
        <td><input type="text" class="form-control" [(ngModel)]="newCity.name" placeholder="City Name"></td>
        <td>
          <select class="form-control" [(ngModel)]="newCity.categoryId">
            <option *ngFor="let category of pricingCategories" [value]="category.id">{{category.name}}</option>
          </select>
        </td>
        <td>
          <button (click)="addNew()" type="button" class="btn btn-success btn-block">
            <i class="fa fa-plus"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>