<div class="cors-pricings-list">
  <table class="table">
    <thead>
      <th scope="col">Course Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <tr *ngFor="let course of coursePrices">
        <td>
          <a [routerLink]="['/courses', course.courseId]" [name]="course.courseName">{{course.courseName}}</a>
        </td>
        <td>
          <span *ngIf="!course.editMode">{{course.price}}</span>
          <span *ngIf="course.editMode">
            <input type="number" class="form-control" [(ngModel)]="course.price" placeholder="Price">
          </span>
        </td>
        <td>
          <span *ngIf="!course.editMode">
            <button class="btn btn-warning btn-block" (click)="course.editMode=true">
              <i class="fa fa-edit"></i>
            </button>
          </span>
          <span *ngIf="course.editMode">
            <button class="btn btn-success btn-block" (click)="upsertView(course)">
              <i class="fa fa-check"></i>
            </button>
          </span>
        </td>
        <td>
          <button class="btn btn-danger btn-block" (click)="deleteCourse(course)">
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="!addMode">
        <td colspan="4">
          <button (click)="addMode=true" type="button" class="btn btn-primary btn-block">
            <i class="fa fa-plus"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="addMode">
        <td colspan="2">
          <input class="form-control" type="text" [(ngModel)]="newCourse.name" [value]="newCourse.name"
            placeholder="Course Name">
        <td>
          <button (click)="upsert()" type="button" class="btn btn-success btn-block">
            <i class="fa fa-plus"></i>
          </button>
        </td>
        <td>
          <button (click)="addMode=false" type="button" class="btn btn-danger btn-block">
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>