<nav class="blue">
  <div class="nav-wrapper">
    <a class="brand-logo" [routerLink]="['/']">Bafp</a>

    <div class="right row col s6">
      <div class="input-field col s3">
        <input id="averageStudents" type="number" [(ngModel)]="averageStudents"
          [value]="averageStudents" (keypress)="onkeypress($event)">
        <label for="averageStudents">Students</label>
      </div>
      <div class="input-field col s3">
        <button class="btn waves-effect waves-light" (click)="save()">
          Update<i class="material-icons done"></i>
        </button>
      </div>
    </div>
  </div>
</nav>