<div class="list">
  <table class="table table-striped">
    <thead>
      <th *ngFor="let d of modelDescriptor.fieldsDescriptor">{{d.name}}</th>
      <th *ngIf="isEditable()"></th>
      <th *ngIf="canRemove()"></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let d of modelDescriptor.fieldsDescriptor">
          <span *ngIf="!item.isEditing">
            <span *ngIf="d.type === 0" (click)="isEditable() && item.isEditing = true">
              {{item[d.keyName]}}
              <span *ngIf="d.editMode === 4">
                <button class="btn btn-success" (click)="plus(item, d.keyName)">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-danger" (click)="minus(item, d.keyName)">
                  <i class="fa fa-minus"></i>
                </button>
              </span>
            </span>
            <span *ngIf="d.type === 1">
              <a [routerLink]="buildLink(d, item)" [name]="item[d.keyName]">{{item[d.keyName]}}</a>
            </span>
          </span>
          <span *ngIf="item.isEditing">
            <span *ngIf="d.editMode === 0">
              {{item[d.keyName]}}
            </span>
            <span *ngIf="d.editMode === 1">
              <input class="form-control" type="text" [(ngModel)]="item[d.keyName]" [value]="item[d.keyName]">
            </span>
            <span *ngIf="d.editMode === 2">
              <input class="form-control" type="number" [(ngModel)]="item[d.keyName]" [value]="item[d.keyName]">
            </span>
            <span *ngIf="d.editMode === 3">
              <select class="form-control" [(ngModel)]="item[d.idName]">
                <option *ngFor="let value of d.possibleValues" [value]="value.id">{{value.name}}</option>
              </select>
            </span>
          </span>
        </td>

        <td *ngIf="isEditable()">
          <span *ngIf="!item.isEditing">
            <button class="btn btn-warning btn-block" (click)="item.isEditing=true">
              <i class="fa fa-edit"></i>
            </button>
          </span>
          <span *ngIf="item.isEditing">
            <button class="btn btn-success btn-block" (click)="edit(item)">
              <i class="fa fa-check"></i>
            </button>
          </span>
        </td>

        <td *ngIf="canRemove()">
          <span>
            <button class="btn btn-danger btn-block" (click)="remove(item)">
              <i class="fa fa-remove"></i>
            </button>
          </span>
        </td>
      </tr>

      <tr *ngIf="canAdd()">
        <td *ngIf="!addMode" colspan="100%">
          <button (click)="addMode=true;" type="button" class="btn btn-success btn-block">
            <i class="fa fa-plus"></i>
          </button>
        </td>

        <td [hidden]="!addMode" *ngFor="let d of modelDescriptor.fieldsDescriptor">
          <span>
            <span *ngIf="d.addMode === 1">
              <input class="form-control" type="text" [(ngModel)]="newItem[d.keyName]" [value]="newItem[d.keyName]">
            </span>
            <span *ngIf="d.addMode === 2">
              <input class="form-control" type="number" [(ngModel)]="newItem[d.keyName]" [value]="newItem[d.keyName]">
            </span>
            <span *ngIf="d.addMode === 3">
              <select class="form-control" [(ngModel)]="newItem[d.idName]">
                <option *ngFor="let value of d.possibleValues" [value]="value.id">{{value.name}}</option>
              </select>
            </span>
          </span>
        </td>

        <td [hidden]="!addMode">
          <button class="btn btn-success btn-block" (click)="save(newItem)">
            <i class="fa fa-check"></i>
          </button>
        </td>
      </tr>

      <ng-content></ng-content>
    </tbody>
  </table>
</div>