<div>
  <div class="header">
    <h3 class="center-align">{{header}}</h3>
  </div>

  <div class="list">
    <table class="responsive-table striped">
      <thead>
        <th *ngFor="let d of modelDescriptor.fieldsDescriptor">{{d.name}}</th>
        <th *ngIf="isEditable()"></th>
        <th *ngIf="canRemove()"></th>
        <th *ngIf="canAdd() && !(canRemove() || isEditable())"></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td *ngFor="let d of modelDescriptor.fieldsDescriptor">
            <span *ngIf="!item.isEditing || d.editMode === 0 || d.editMode === 4">
              <span *ngIf="d.type === 0" (click)="d.editMode !== 0 && onEditClick(item)">
                {{item[d.keyName]}}
                <span class="row col s3" *ngIf="d.editMode === 4">
                  <button class="waves-effect waves-light btn" (click)="plus(item, d.keyName, true)">
                    <i class="material-icons">add</i>
                  </button>
                  <button class="waves-effect waves-light btn" (click)="minus(item, d.keyName, true)">
                    <i class="material-icons">remove</i>
                  </button>
                </span>
              </span>
              <span *ngIf="d.type === 1" (click)="d.editMode !== 0 && onEditClick(item)">
                <a [routerLink]="buildLink(d, item)" [name]="item[d.keyName]">{{item[d.keyName]}}</a>
              </span>
              <span *ngIf="d.type === 2" (click)="d.editMode !== 0 && onEditClick(item)">
                <ul>
                  <li *ngFor="let viewItem of item[d.keyName]">{{viewItem}}</li>
                </ul>
              </span>
            </span>
            <span class="input-field" *ngIf="item.isEditing">
              <span *ngIf="d.editMode === 1">
                <input type="text" (keypress)="onkeypress($event, item)" [(ngModel)]="item[d.keyName]" [value]="item[d.keyName]">
              </span>
              <span *ngIf="d.editMode === 2">
                <input type="number" (keypress)="onkeypress($event, item)" [(ngModel)]="item[d.keyName]" [value]="item[d.keyName]">
              </span>
              <span *ngIf="d.editMode === 3">
                <select [(ngModel)]="item[d.idName]">
                  <option *ngFor="let value of d.possibleValues" [value]="value.id">{{value.name}}</option>
                </select>
              </span>
            </span>
          </td>

          <td *ngIf="isEditable()">
            <span *ngIf="!item.isEditing">
              <button class="btn" (click)="onEditClick(item)">
                <i class="material-icons">edit</i>
              </button>
            </span>
            <span *ngIf="item.isEditing">
              <button class="btn" (click)="edit(item)">
                <i class="material-icons">check</i>
              </button>
            </span>
          </td>

          <td *ngIf="canRemove() && !item.isEditing">
            <span>
              <button class="btn" (click)="remove(item)">
                <i class="material-icons">remove</i>
              </button>
            </span>
          </td>

          <td *ngIf="item.isEditing && canRemove()"></td>
          <td *ngIf="canAdd() && !(canRemove() || isEditable())"></td>
        </tr>

        <ng-content></ng-content>

        <tr *ngIf="canAdd()">
          <td *ngIf="!addMode" colspan="100%">
            <button (click)="onAddClick()" type="button" class="btn">
              <i class="material-icons">add</i>
            </button>
          </td>

          <td [hidden]="!addMode" *ngFor="let d of modelDescriptor.fieldsDescriptor">
            <span class="input-field">
              <span *ngIf="d.addMode === 1">
                <input type="text" [(ngModel)]="newItem[d.keyName]" [value]="newItem[d.keyName]">
              </span>
              <span *ngIf="d.addMode === 2">
                <input type="number" [(ngModel)]="newItem[d.keyName]" [value]="newItem[d.keyName]">
              </span>
              <span *ngIf="d.addMode === 3">
                <select [(ngModel)]="newItem[d.idName]">
                  <option *ngFor="let value of d.possibleValues" [value]="value.id">{{value.name}}</option>
                </select>
              </span>
              <span *ngIf="d.addMode === 4">
                {{newItem[d.keyName] = newItem[d.keyName] || 0}}
                <button class="btn" (click)="plus(newItem, d.keyName, false)">
                  <i class="material-icons">add</i>
                </button>
                <button class="btn" (click)="minus(newItem, d.keyName, false)">
                  <i class="material-icons">remove</i>
                </button>
              </span>
            </span>
          </td>

          <td *ngIf="addMode">
            <button class="btn" (click)="save(newItem)">
              <i class="material-icons">check</i>
            </button>
          </td>

          <td *ngIf="addMode && isEditable() && canRemove()"></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>